<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C# Contact</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="wrapper">
        <p class="navbar"><a href="/">Home</a> | <a href="/Projects">Projects</a></p>
        <h1>Contact Page</h1>
        <form>
            <p>Name: <input type="text" name="name"></p>
            <p>Email: <input type="text" name="email"></p>
            <p>Message: <textarea name="message" id="" cols="30" rows="10"></textarea></p>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>