<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C# DateTime</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #wrapper{
            margin: 100px auto;
            text-align: center;
        }
        .date{
            display: inline-block;
            border: 2px solid black;
            font-size: 36px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <h2>The current time and date:</h2>
        <div class="date">
            @{
                DateTime CurrentTime = DateTime.Now;
                String Time = String.Format("{0:f}", CurrentTime);
                // We can render HTML from within C# code!
                <p>@Time</p>
            }
        </div>
    </div>
</body>
</html>