<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C# Dojo Survey</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="wrapper">
        <h2>Random passcode (passcode #@ViewBag.count)</h2>
        <div class="passcode">
            <h1>@ViewBag.passcode</h1>
        </div>
        <a href="/">Refresh</a>
    </div>
</body>
</html>